body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.section-title {
    font-size: 24px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
    color: #4CAF50;
}
.sub-title {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}
.data-frame {
    margin-top: 10px;
    overflow-x: auto;
}
.data-info {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #4CAF50;
    font-family: monospace;
}

.form-group {
    margin-bottom: 15px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

.report {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
